<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- HEADER -->
		<title>Kelso</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="Media content, friends, family, TV, Movies, Netflix">
		<meta name="description" content="Kelso is a tool for finding media content based on who you are watching with">
		<meta name="author" content="Brad Ware">

		<!-- CSS -->
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="styles/main.css" rel="stylesheet">
		<link href="styles/header.css" rel="stylesheet">

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="images/logo_alt_green.png">
		<!-- END OF HEADER -->
	</head>
	<body>
		<!-- Header Inserted - NO PANEL HEADING ON INDEX -->
		<header class="row"></header>
		<!-- End of Header -->
		<main>
			<a href="/watch">
				<img id="home-title" src="images/home_background.png">
			</a>
			<div class="container-fluid">
				<div class="row">
					<a href="/add-viewer">
						<div class="col-xs-6 text-center tile">
							<div class="tile-content">
								<img class="tile-icon" src="images/add_viewer.png">
								<h4>friends</h4>
							</div>
						</div>
					</a>
					<a href="/add-content">
						<div class="col-xs-6 text-center tile">
							<div class="tile-content">
								<img class="tile-icon" src="images/add_content.png">
								<h4>shows</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="row">
					<div class="col-xs-6 text-center tile">
						<div class="tile-content">
							<img class="tile-icon" src="images/explore.png">
							<h4>explore</h4>
						</div>
					</div>
					<div class="col-xs-6 text-center tile">
						<div class="tile-content">
							<img class="tile-icon" src="images/popular.png">
							<h4>popular</h4>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- JS -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>