<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HEADER -->
    <title>Kelso</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Media content, friends, family, TV, Movies, Netflix">
    <meta name="description" content="Kelso is a tool for finding media content based on who you are watching with">
    <meta name="author" content="Brad Ware">

    <!-- CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <link href="styles/header.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/logo_alt_green.png">
    <!-- END OF HEADER -->
  </head>
  <body>
    <!-- Header Inserted - NO PANEL HEADING ON INDEX -->
    <header class="row"></header>
    <!-- End of Header -->
    <main>
      <!-- Wrapper -->
      <div class="wrapper container-fluid">
        <div class="row text-center page-title">
          <h2>What do y'all watch?</h2>
          <p>Select a show and let us know<br>who watches what.</p>
          <div class="input-group search-bar">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default purple" id="search-btn" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="row container-fluid" id="content-results"></div>
      <div class="bottom-padding"></div>
      <button type="submit" id="submit-btn" class="btn btn-lg btn-block green button-theme fixed-bottom">next</button>
    </main>

    <!-- JS -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/signup-content.js"></script>
  </body>
</html>