<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HEADER -->
    <title>Kelso</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Media content, friends, family, TV, Movies, Netflix">
    <meta name="description" content="Kelso is a tool for finding media content based on who you are watching with">
    <meta name="author" content="Brad Ware">

    <!-- CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <link href="styles/header.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/logo_alt_green.png">
    <!-- END OF HEADER -->
  </head>
  <body>
    <!-- Header Inserted - NO PANEL HEADING ON INDEX -->
    <header class="row"></header>
    <!-- End of Header -->
    <main>
      <!-- Wrapper -->
      <div class="wrapper container-fluid">
        <div class="row text-center page-title">
          <h2>You're ready to Kelso.</h2>
          <p>Get started now!</p>
        </div>
        <div class="row text-center page-content">
          <img id="signup-success" src="images/signup_success.png">
        </div>
      </div>
      <a href="/home">
        <button type="button" class="btn btn-lg btn-block green button-theme fixed-bottom">start watching</button>
      </a>
    </main>

    <!-- JS -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>