<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- HEADER -->
		<title>Kelso</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="Media content, friends, family, TV, Movies, Netflix">
		<meta name="description" content="Kelso is a tool for finding media content based on who you are watching with">
		<meta name="author" content="Brad Ware">

		<!-- CSS -->
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="styles/main.css" rel="stylesheet">
		<link href="styles/header.css" rel="stylesheet">

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="images/logo_alt_green.png">
		<!-- END OF HEADER -->
	</head>
	<body>
		<!-- Header Inserted - NO PANEL HEADING ON INDEX -->
		<header class="row"></header>
		<!-- End of Header -->
		<main>
			<!-- Wrapper -->
			<div class="wrapper container-fluid">
				<div class="row text-center page-title">
					<h2>Sign up</h2>
				</div>
				<div class="page-content">
					<form>
						<div class="form-group">
							<label for="name">name</label>
							<input type="text" class="form-control" id="name" placeholder="Jane" required>
						</div>
						<div class="form-group">
							<label for="email">email</label>
							<input type="email" class="form-control" id="email" placeholder="jane.doe@gmail.com" required>
						</div>
						<div class="form-group">
							<label for="password">password</label>
							<input type="password" class="form-control" id="password" placeholder="123" required>
						</div>
						<div class="row">
							<div class="form-group col-xs-6">
								<label for="age">age</label>
								<input type="age" class="form-control" id="age" placeholder="25" required>
							</div>
							<div class="radio-group text-center col-xs-6">
								<div class="radio">
									<label><input type="radio" name="optradio" id="male" checked>Guy</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio" id="female">Gal</label>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="bottom-padding"></div>
			</div>
			<button type="button" id="submit-btn" class="btn btn-lg btn-block purple button-theme fixed-bottom" disabled="disabled">
				next
			</button>
		</main>

		<!-- JS -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/signup.js"></script>
	</body>
</html>