body {
	background-image: url('../images/index_background.png');
	background-size: 125% 100%; /* or contain depending on what you want */
  background-repeat: no-repeat;
}

.title {
	margin: 10% 0 20% 0;
}

.logo-component {
	margin: 30px 0 30px 0;
}

#logo {
	height: 118px;
	width: 190px;
}

#logo-alt {
	height: 175px;
	width: 175px;
}
