html, body {
	background-color: #1D1F29; /* Dark Gray */
	color: #E8EBF2; /* Light Gray */
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  margin: 0;
  min-height: 100%;
}

main {
	background-color: #2C2F3D; /* Medium Gray */
	margin-top: 75px;
}

.wrapper {
	overflow-y: scroll;
	padding: 0 10% 0 10%;
}

a:link {
	color: inherit;
  text-decoration: none;
}

a:visited {
	color: inherit;
  text-decoration: none;
}

a:hover {
	color: inherit;
  text-decoration: none;
}

a:active {
	color: inherit;
  text-decoration: none;
}

h2 {
	font-size: 22px;
}

.page-title {
	margin: 10px 0 10px 0;
}

.page-title > p {
	font-weight: 300;
}

#home-title {
	background-color: #1D1F29;
	width: 100%;
	padding-bottom: 5px;
}

.page-content {
	margin: 20px 0 40px 0;
}

.green {
	background-color: #5ACBAD;
}

.purple {
	background-color: #727DF0;
}

button.button-theme {
	border-radius: 0;
	color: #E8EBF2;
	font-size: 26px;
	height: 70px;
}

button.button-theme:active {
  opacity: 0.75;
}

button.button-theme:focus {
  opacity: 0.75;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom-padding {
	height: 100px;
	background-color: #1D1F29;
	position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
}

/*
	Form & Signup
*/

form {
	font-size: 16px;
}

label {
	color: #CCC;
	font-weight: 400;
}

.form-control {
	background-color: transparent;
	border-radius: 0;
	color: #E8EBF2;
}

.form-control:focus {
	border-color: #5ACBAD;
}

.member {
	border-top: 1px solid #1D1F29;
	padding: 10px 0 10px 0;
}

.member > i {
	font-size: 18px;
	float: right;
}

#add-member {
	height: 60px;
	width: 60px;
	float: right;
	margin-bottom: -30px;
	position: relative;
	z-index: 10;
}

.tile {
	border: 2px solid #1D1F29;
	height: 150px;
}

.tile-content {
	margin-top: 40px;
}

.tile-icon {
	height: 30px;
}

.radio-group {
	margin-top: 10px;
}
