form {
	font-size: 16px;
}

label {
	color: #CCC;
	font-weight: 400;
}

.form-control {
	background-color: transparent;
	border-radius: 0;
	color: #E8EBF2;
}

.form-control:focus {
	border-color: #5ACBAD;
}

.member {
	border-top: 1px solid #1D1F29;
	padding: 10px 0 10px 0;
}

.member > i {
	font-size: 18px;
	float: right;
}

#add-member {
	height: 60px;
	width: 60px;
	float: right;
}

.tile {
	border: 1px solid black;
	height: 180px;
}

.tile-content {
	margin-top: 75px;
}

.radio-group {
	margin-top: 10px;
}