.header {
	padding: 10%;
}

.btn {
	margin-top: 20px;
}

.member {
	padding: 10px 0 10px 0;
}

.tile {
	border: 1px solid black;
	height: 180px;
}

.tile-content {
	margin-top: 75px;
}

.fa-times {
	float: right;
	font-size: 18px;
}